
button:hover {
  background:white ;
  color:black;
}

.fas-fa-pencil-alt:hover{
  color:#00a087;
}

button{
  float:right;
  margin-top: 30px;
  background-color: #dbfff9;
  border-radius: 4px;
  color:#00a087;
  border: 0.5px groove #787878;
  padding:10px;
  margin-right: 10px;
}
#nav-bar {
    top:0;
    background-color: #00a087;
    color: #e8fdff;
    padding-left: 2em;
    padding-right: 2em;
    height: 80px;
    position: fixed;
    width:100%;
    z-index: 1;
  }

  
  .logo {
    float: left;
    height: 80px;
    width: 80px;
    margin-right: 10px
  
  }
  
  .header {
    line-height: 250%;
    font-size: 175%;
    float: left;
    position: fixed;
  }
  
  