

.error2 {
  float: right;
    color:#fff;
    font-family: Verdana,sans-serif;
    padding:6px 20px;
    display:none;
    background-color:#f44336;
    margin-left:20px;
  }
  .error1 {
    float: right;
    display:none;
      color:#fff;
      font-family: Verdana,sans-serif;
      padding:6px 20px;
      display:none;
      background-color:#f44336;
      margin-left:20px;
  }
.box1{
    border-radius:10px;
    background-color:#E5E7E9;
    padding: 10px;
    border: 1px solid darkgrey;
    justify-content: center;
    align-content: center;
    margin-bottom:10px;
    display:none;
}
  

  .box1 h2{
    margin-bottom: 5px;
  }
  
  textarea {
    padding: 10px;
    width:100%;
  }
  
  .counter {
    float:right;
    color: black;
    font-style: italic;
  }
  
  